@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
.box{
    display: grid;
    grid-template-columns: 50% 50%;
}
.left{
    padding: 123px;
    font-family: 'Source Serif 4', sans-serif;
}
.left h2{
    color: #ffbc47;
    font-size: 50px;
}
.left p{
    color: #846737;
    font-size: 20px;
}
.right{
    background-color: #ffbc47;
    justify-content: center;
    align-items: center;
}
.right img{
    align-items:center ;
    justify-content: center;
    width: 623px;
    padding: 96px;
}
.btn{
    margin-top: 22px;
    padding:5px 12px;
    border-radius: 7px;
    color: #846737;
    background-color: #fddfab;
    outline: none;
    font-size: larger;
    font-family: 'Source Serif 4', sans-serif;
}
.btn:hover{
    cursor: pointer;
    background-color: #ffbc47;
    color: white;
}
@media (max-width:1070px){
    .box{
        display: flex;
        flex-direction: column;
    }
    .right img{
        align-items:center ;
        justify-content: center;
        width: 323px;
        padding: 26px;
    }
    .right{
        margin: 63px;
        border-radius: 22px;
    }
}